body{
    /* background-color: rgb(185, 226, 185); */
}
.titre{
    /* margin-left: 25vw; */
    /* background-color: rgb(128, 172, 128); */
    display: flex;
    justify-content:center;
}
.contact{
    margin-right: 1vw;
}
/* .email{
    color: rgb(128, 172, 128);
    background-color: rgb(128, 172, 128);
    width: 3vw;
} */
.titre li{
    margin-bottom: 1vh;
    text-align: left;
}
.titre ul{
    gap: 5vw;
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}
#gauche{
    border: 1px solid black; 
    padding: 5px;
    margin-left: 0%;
    width: 350px;
    height: 500px;
   
    
}



.bloc{
    display: flex;
    justify-content: center;
    gap: 15px;
    color: rgb(64, 61, 61);
    font-weight: 100;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 90%;
    margin-left: 80px;
}
 .orange {
    color: coral;
    font-weight: bold;
    font-weight: 700px;
 }
 .description{
    display: flex;
    justify-content: center;
    color: rgb(64, 61, 61);
    background-image: url("image/grille.png");
    width: 100%;
    padding:35px;
    margin: 0 auto;
 }